body {
	min-width: 1080px;
	background-color: black;
	overflow-x: hidden;
}

h1 {
	color: white;
}

p {
	color: white;
}

.footer p {
	text-align: right;
}

.header {
	background-image: linear-gradient(to right, black, black, black, #990000);
}

.header h1 {
	color: #990000;
	text-align: left;
}

.footer {
	background-color: #990000;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navbar {
	float: left;
	width: 120px;
	padding-left: 180px;
	margin-bottom: 10px;
	border-right: 1px solid white;
}

.navbar a {
	color: white;
	display: block;
	cursor: pointer;
	padding-top: 24px;
	padding-left: 10px;
	padding-bottom: 24px;

}

.navbar a:hover {
	color: #990000;
}

.content {
	color: white;
	margin-left: 300px;
	padding-left: 8px;
	border-left: 1px solid white;
}

.footer {
	padding: 8px;
	font-size: 12px;
	font-style: italic;
	color: #ffcccc;
	text-align: right;
}

.banner {
	background-size: 780px, 439px;
	margin-bottom: 120px;
}

.inner {
	padding-top: 340px;
}

.inner p {
	margin: 0px;
	padding: 41px;
	background-color: rgba(0, 0, 0,0.6);
}

label.required:after {
	content: '* ';
	color: red;
}

#home_tab {
	color: #990000;
	margin-bottom: 2px;
	border-bottom: 1px solid white;
}

#home_content {
	width: 780px;
	padding-left: 200px;
}

#search_tab {
	margin-top: 2px;
}

#search_content {
	margin-right: 300px;
}

#search_box {
	background-image: linear-gradient(to bottom, #990000, #990000, black);
	padding-bottom: 50px;
}

#search_box h1 {
	padding-top: 30px;
	padding-bottom: 10px;
}

label {
	float: left;
	width: 33%;
	padding-right: 2%;
	text-align: right;
}

.input_field {
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 16px;
}

.input_field select, input {
	border: 0px;
	border-radius: 4px;
}

.clickable {
	margin-left: 24px;
	margin-right: 24px;
	width: 80px;
	padding: 8px;
	color: white;
	background-color: black;
}

.clickable:hover {
	background-color: red;
}
