body {
	min-width: 1280px;
	overflow-x: hidden;
	background-color: black;
}

h1, h2, p, a, label {
	color: white;
	font-family: 'Raleway', sans-serif;
}

.sub_title {
	font-weight: normal;
}

.header {
	background-image: linear-gradient(to right, black, black, black, #990000);
	text-align: left;
}

.header h1 {
	color: #990000;
	font-family: 'Raleway', sans-serif;
}

.footer {
	color: #ffcccc;
	font-size: 12px;
	font-style: italic;
	text-align: right;
	background-color: #990000;
	margin-left: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 16px;
}

.navbar {
	text-align: right;
	float: left;
	width: 200px;
	margin-left: -200px;
	list-style-type: none;
}

.navbar a {
	cursor: pointer;
	display: block;
	padding: 24px;
	padding-left: 0px;
}

.navbar a:hover {
	color: #990000!important;
}

.content {
	float: right;
	width: 100%;
	margin-bottom: 8px;
	border-left: 1px solid white;
}

.banner {
	background-size: 780px, 439px;
	margin-bottom: 120px;
}

.inner {
	padding-top: 339px;
}

.inner p {
	margin: 0px;
	padding: 40px;
	background-color: rgba(0, 0, 0,0.6);
}

label.required:after {
	content: '* ';
	color: red;
}

#home_tab {
	color: #990000;
	margin-bottom: 4px;
	border-bottom: 1px solid white;
}

#home_content {
	width: 780px;
	padding-left: 15%;
}

#search_content {
	margin-left: 8px;
	margin-right: 20%;
}

#search_box {
	background-image: linear-gradient(to bottom, #990000, #990000, black);
	padding-bottom: 80px;
}

#search_box h1 {
	padding-top: 30px;
	padding-bottom: 10px;
}

label {
	float: left;
	width: 33%;
	padding-right: 2%;
	text-align: right;
}

.input_field {
	margin-right: 2%;
	margin-bottom: 16px;
}

.input_field select, input {
	border: 0px;
	border-radius: 4px;
}

.clickable {
	margin-left: 24px;
	margin-right: 24px;
	width: 80px;
	padding: 8px;
	color: white;
	background-color: black;
}

.clickable:hover {
	background-color: red;
}
