<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>The Movie DB</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}" ></script>
</head>
<body>
	<!-- header -->
	<div class="header">
		<h1>THE MOVIE DB</h1>
	</div>

	<!-- navigation bar -->
	<div class="navbar">
		<ul>
			<li><a id="home_tab" onclick="homepage()">Home&nbsp;&emsp;&emsp;&#8594;</a></li>
			<li><a id="search_tab" onclick="searchpage()">Search&emsp;&emsp;&#8594;</a></li>
		</ul>
	</div>

	<!-- main content -->
	<div class="content">

		<!-- home page -->
		<div id="home_content">
			<div align="center">
				<h2>Trending Movies</h2>
				<div class="banner" style="background-image: url({{ url_for('static', filename='movie-placeholder.jpg') }})">
					<div class="inner"><p>Unknown</p></div>
				</div>
			</div>
			<div align="center">
				<h2>TV Shows On-Air Today</h2>
				<div class="banner" style="background-image: url({{ url_for('static', filename='movie-placeholder.jpg') }})">
					<div class="inner"><p>Unknown</p></div>					
				</div>
			</div>
		</div>

		<!-- search page -->
		<div id="search_content" style="display: none;">
			<div id="search_box">
				<h1 align="center">Search</h1>
				<form name="searchbox" action="" method="get">
					<div class="input_field">
						<label class="required">Keyword</label>
						<input style="width: 35%;" name="keyword" type="text" value=""/><br>
					</div>
					<div class="input_field">
						<label class="required">Category</label>
						<select name="category">
							<option value=""></option>
							<option value="movie">Movies</option>
							<option value="tvshow">TV Shows</option>
							<option value="all">Movies and TV Shows</option>
						</select><br>
					</div>
					<div align="center">
						<span>
							<input class="clickable" type="button" value="Search" onclick="validateForm()">
							<input class="clickable" type="button" value="Clear" onclick="clearForm()">
						</span>
					</div>
				</form>
			</div>

		</div>

		<!-- footer -->
		<div class="footer">
			Designed and developed by Akansha, Pranav & Yash<br>
			Powered by TMDB<br>
		</div>
	</div>
</body>
</html>